main {
    min-height: 80vh;
}

i {
    margin-right: 10px;
}

h3{
    padding: 1rem 0;
}

.rating span{
    margin: 0.1rem;
}

.btn-block{
    min-width: 100%;
    width: 100%;
}

h1{
    font-size: 1.8 rem;
    padding: 1rem 0;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    font-size: 1.4 rem;
    padding: 0.5rem 0;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

